/* Base styling */
body {
	margin: 0;
	padding: 0;
	color: #333;
}

.dashboard {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.content {
	padding: 0.5rem 1rem;
	border-radius: 10px;
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.list-filter {
	padding: 0.2rem;
	border-radius: 10px;
	min-width: 150px;
}

.list-filter h3 {
	font-size: 18px;
	font-weight: 500;
}

.filter-item {
	gap: 8px;
}

.list {
	flex: 1;
	border-right: 1px solid #cecece;
	padding: 0 1rem;
	min-height: 100vh;
}

/* List styling */
.list h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
	color: #0e0e0e;
}

.info-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	padding: 0.8rem 1.5rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.2rem;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.info-container:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Info section styling */
.info {
	flex: 1;
}

.info h5.name {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0 0 0.5rem;
	color: #0e0e0e;
}

.info p.description {
	font-size: 0.9rem;
	margin: 0 0 1rem;
	color: #595959;
}

.info .author {
	display: flex;
	gap: 1.5rem;
	font-size: 0.9rem;
	color: #888;
}

/* Action section styling */
.action {
	margin-left: 1.5rem;
}

.action button {
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.action button:hover {
	background: #505150;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action button:active {
	background: #505150;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	transform: scale(0.98);
}

/* Responsive Design */
@media (max-width: 768px) {
	.info-container {
		flex-direction: column;
		align-items: flex-start;
	}

	.action {
		margin-left: 0;
		margin-top: 1rem;
		width: 100%;
		text-align: center;
	}

	.action button {
		width: 100%;
	}
}

.slider-logo {
	transition: 0.1s ease-in-out;
	animation: flip 5s ease-in-out infinite;
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
