@tailwind components;
@tailwind utilities;
html {
	scrollbar-width: thin; /* For Firefox */
	overflow-y: auto;
	transition: all 0.1s ease-in-out;
}

* {
	font-family: "DM Sans", "Roboto", "Teko", serif;
	box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/* 
h1 {
	font-size: 20px !important;
	font-weight: bold !important;
}

h2 {
	font-size: 18px !important;
	font-weight: bold !important;
} */
