@tailwind components;
@tailwind utilities;
html {
	scrollbar-width: thin; /* For Firefox */
	overflow-y: auto;
	transition: all 0.1s ease-in-out;
}

* {
	font-family: "DM Sans", "Roboto", "Teko", serif;
	box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color-scheme: light !important;
	color: black;
}
